<a href="https://colab.research.google.com/github/PandukaBandara99/Database-Engineering/blob/main/Introduction_to_Databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mahela Panduka Bandara ; <br> UG @ Dpt. of Electronic & Electrical Engineering ;<br> University of Peradeniya ;<br> 2023/05 <br><br> Email : e19039@end.pdn.ac.lk <br> LinkedIN : https://www.linkedin.com/in/pandukabandara/

References : 
1. https://www.coursera.org/professional-certificates/meta-database-engineer

# 1.0 Introduction to Databases

## 1.1 Databases

Databases store and organize large amounts of information, using a variety of structures and models such as relational, NoSQL, object-oriented, hierarchical, and network.
Types of databases:
1. **Relational databases:** These databases store data in tables with rows and columns. They use a structured query language (SQL) to manage and manipulate data. Examples of relational databases include MySQL, Oracle, and PostgreSQL.

2. **NoSQL databases:** These databases use a non-relational data model, which means they don't use tables, rows, and columns. Instead, they use a variety of data models, such as document, key-value, and graph. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

3. **Object-oriented databases:** These databases are designed to work with object-oriented programming languages, such as Java and C++. They store data in objects, which are similar to the objects used in programming. Examples of object-oriented databases include db4o and ObjectDB.

4. **Hierarchical databases:** These databases organize data in a tree-like structure, with each record having one parent and possibly many children. They're often used for storing information about organizational structures or file systems. Examples of hierarchical databases include IBM's Information Management System (IMS) and the Windows Registry.

5. **Network databases:** These databases are similar to hierarchical databases, but they allow each record to have multiple parents and children, forming a network of relationships. They're often used for modeling complex relationships between entities. Examples of network databases include Integrated Data Store (IDS) and CA-IDMS.

## 1.2 Introduction To SQL

**Structured Query Language (SQL)** is a programming language used to manage and manipulate relational databases.

### 1.2.1  SQL Commands

In SQL (Structured Query Language), there are four main types of commands:

1. **Data Definition Language (DDL):** These commands are used to define the structure of the database, including creating, altering, and deleting tables and other objects. Examples include CREATE, ALTER, and DROP.

2. **Data Manipulation Language (DML):** These commands are used to manipulate data within the database, including inserting, updating, and deleting data. Examples include INSERT, UPDATE, and DELETE.

3. **Data Control Language (DCL):** These commands are used to control access to the database, including granting and revoking privileges to users and roles. Examples include GRANT and REVOKE.

4. **Transaction Control Language (TCL):** These commands are used to manage transactions, which are sets of operations that must be performed together as a single, atomic unit. Examples include COMMIT and ROLLBACK.

### 1.2.2 Tables in SQL

In a relational database, data is organized into tables. A table consists of rows and columns, with each row representing a single record and each column representing a field within that record. The structure of a table is defined by its columns, which specify the name, data type, and other characteristics of each field.

####  Common data types in SQL



1. **Numeric data types :** such as INT, DECIMAL, and FLOAT, for storing numerical data.

2. **String data types :** such as VARCHAR and CHAR, for storing character strings.

3. **Date and time data types :** such as DATE, TIME, and DATETIME, for storing date and time values.

4. **Boolean data type :** such as BOOLEAN or BIT, for storing true/false values.

5. **Binary data types :** such as BLOB and VARBINARY, for storing binary data.

6. **XML data type:** for storing XML documents.

####  Primary Key and Foreign Key



**Primary Key:**
A primary key is a column or set of columns in a table that uniquely identifies each row of data. It is used to ensure data integrity and establish relationships with other tables in the database.

> Example :- Table : Students

  | StudentID | Name    | Age | Gender | Major   |
  | --------- | ------- | --- | ------ | ------- |
  | 1         | Alice   | 21  | Female | Biology |
  | 2         | Bob     | 22  | Male   | History |
  | 3         | Charlie | 20  | Male   | English |

In this example, the "StudentID" column serves as the primary key, ensuring that each row has a unique ID number.

**Foreign Key:**
A foreign key is a column or set of columns in a table that references the primary key of another table. This establishes a relationship between the two tables, allowing data to be linked between them.

> Example :- Table : Enrollments

  | EnrollmentID | StudentID | Course   |
  | ------------ | --------- | -------- |
  | 1            | 1         | Biology 101 |
  | 2            | 2         | History 101 |
  | 3            | 3         | English 101 |
  | 4            | 1         | Chemistry 101 |

In this example, the "StudentID" column in the "Enrollments" table serves as a foreign key, referencing the primary key in the "Students" table. This allows the "Enrollments" table to link each enrollment with the corresponding student from the "Students" table.

### 1.2.3 Integrity Constraints in SQL

1. **Key Constraints:**
Key constraints are used to ensure that each row in a table can be uniquely identified by a specific column or set of columns, known as the key. In SQL, there are two types of key constraints:

  > - **Primary Key Constraint:** This is a key constraint that specifies the.primary key of a table, which must be unique for each row and cannot be NULL.
  > - **Unique Key Constraint:** This is a key constraint that specifies a unique key for a table, which must be unique for each row but can be NULL.

2. **Domain Constraints:**
Domain constraints are used to ensure that the data in a specific column of a table adheres to a specific data type or format. In SQL, there are several types of domain constraints, including:

  >  - **NOT NULL Constraint:** Ensures that a column cannot have a NULL value.
  >  - **CHECK Constraint:** Ensures that the values in a column meet a specified condition.
  >  - **DEFAULT Constraint:** Sets a default value for a column if no value is provided.

3. **Referential Integrity Constraints:**
Referential integrity constraints are used to maintain the consistency and accuracy of data between related tables. In SQL, the most common referential integrity constraint is the **foreign key constraint**, which ensures that a column in one table references a primary key in another table. If a value in the foreign key column does not match a value in the primary key column, the constraint will prevent the operation from being executed or take appropriate actions, such as cascading updates or deletes.